
.container{
    color: white;
    flex-direction: column;
    margin: 100px;
    height: 500px;
    width: 75%;
    text-align: center;
    font-family: 'New Rocker', cursive;
    font-size: 40px;

}

.choice{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}

.jumbotron{
    background-color: black
}

.card-header{
    color: white;
    background-color: black;
}

.card-body{
    color: white;
    background-color: black;
}

.card-footer{
    color: white;
    background-color: black;
}

h5{
    color: white;
    background-color: black;

}

p{
    color: white;
    background-color: black;
}

.btn{
    background-color: brown;
}

html{
    background-image: url(../images/brushed_alu_dark.png)
}
body{
    background-image: url(../images/brushed_alu_dark.png)
}